@font-face {
  font-family: "GmarketSansMedium";
  src: url("../assets/fonts/GmarketSansTTF/GmarketSansTTFMedium.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: "GmarketSansMedium";
}